@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 600;
    --body-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background: url('../images/bg-pattern-desktop.svg') no-repeat left bottom;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 57.6% 42.4%;
}

.left-side {
    margin-left: 19.546%;
    margin-right: 26.544%;
}

.logo {
    margin: 65px 0 135px 0;
}

.logo > img {
    width: 158px;
    height: 33px;
}

.hero-mobile {
    display: none;
}

.title {
    text-transform: uppercase;
    letter-spacing: 14px;
    font-size: 64px;
    margin-bottom: 40px;
}

.title span {
    color: var(--desaturated-red);
    font-weight: var(--font-light);
}

.subtitle {
    color: var(--desaturated-red);
    line-height: 25px;
    padding: 0 20px 0 0;
    margin-bottom: 44px;
}

.form-control {
    position: relative;
    margin-bottom: 4px;
}

.email {
    border-radius: 30px;
    padding: 19px 35px;
    border: 1px solid #ddccd0;
    outline: none;
    width: 84%;
}

.email::placeholder {
    color: var(--desaturated-red);
    font-size: 16px;
    opacity: 0.5;
}

.submit-btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    padding: 17px 44px;
    box-shadow: 0 15px 20px 0 rgba(198, 110, 110, 0.25);
    background-image: linear-gradient(
        to right,
        hsl(0, 80%, 86%),
        hsl(0, 74%, 74%)
    );
    position: absolute;
    top: -1px;
    right: 20px;
}

.submit-btn:hover {
    box-shadow: -1px 4px 10px -2px rgba(0, 0, 0, 0.75);
}

.error-icon {
    background: url('../images/icon-error.svg') no-repeat 82% 50%;
    border: 2px solid hsl(0, 93%, 68%);
}

.error {
    visibility: hidden;
    color: var(--soft-red);
    margin-left: 35px;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .left-side {
        margin: 0;
    }

    .logo {
        margin: 30px 40px;
    }

    .logo > img {
        width: 104px;
        height: 22px;
    }

    .hero-mobile {
        display: block;
    }

    .hero-mobile > img {
        display: block;
        width: 100%;
        object-fit: contain;
    }

    .title {
        text-align: center;
        font-size: 37px;
         margin: 65px 40px 0;
    }

    .subtitle {
        text-align: center;
        font-size: 14px;
        margin: 26px 40px 36px;
        padding: 0;
    }

    .form-control {
        margin: 0 30px 4px;
    }

    #email {
        padding: 14px 24px;
        width: 87.2%;
    }

    .submit-btn {
        padding: 12px 26px;
        position: absolute;
        width: 22%;
    }

    .error-icon {
        background: url('../images/icon-error.svg') no-repeat 84% 50%;
    }

    .error {
        visibility: hidden;
        margin-left: 56px;
    }

    .hero-desktop {
        display: none;
    }
}
